p {
	color: #0000ff;
	font-size: 12px;
}

h1 {
	color: #008000;
	background-color: #888888;
	text-transform: uppercase;
	margin: 20px;
	padding: 40px;
	border-style: dashed;
	border-color: red;
}

h2 {
	background-color: #888888;
	text-decoration: underline;
}

body {
	font-family: sans-serif;
	text-decoration: line-through;
}